.feedback {
  background-image: url("/img/testimonials_bg-1.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: $padding__section--base;
  margin-top: 200px;
  &__img {
    margin-top: -200px;
    @media #{$md} {
      margin-top: -150px;
    }
    @media #{$sm} {
      margin-top: -100px;
    }
    img {
      width: 100%;
    }
  }
  &__header {
    text-align: center;
    padding: $content__padding;

    h2 {
      color: $h2__color--white;
      font-size: $h2__font-size;
      font-weight: $h2__font-weight;
      margin-bottom: $header__margin-bottom;
      @media #{$md} {
        font-size: $h2__font-size--mobile;
      }
    }
    p {
      color: $text__color--white;
      margin: 0;
      line-height: 2;
      font-size: $font-size--light;
      font-weight: $text__font-weight;
      @media #{$md} {
        font-size: $font-size--small;
      }
    }
  }
  &__item {
    scroll-snap-align: end;
    min-width: 33.33%;
    padding: 0 15px 0 15px;
    border-right: 1px solid $border__color--gray;
    @media #{$md} {
      min-width: 100%;
      border-right: none;
    }
    p {
      color: $text__color--white;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    column-gap: 25px;
    padding-bottom: 20px;
  }
  &__logo {

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .author {
    h4 {
      color: $h4__color--white;
      font-size: $h4__font-size;
    }
    p {
      margin: 0;
      color: $text__color--gray;
    }
  }
}
