.navigation {
  padding: 40px 0;

  @media #{$lg} {
    padding: 0;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$lg} {
      flex-direction: column;
    }
  }

  &__content {
    @media #{$lg} {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      z-index: 10;
    }

    .hamb {
      cursor: pointer;
      float: right;
      padding: 40px 20px;

      @media #{$min-lg} {
        display: none;
      }

      &__line {
        background: black;
        display: block;
        height: 2px;
        position: relative;
        width: 24px;

        &::before,
        &::after {
          background: black;
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          transition: all 0.2s ease-out;
          width: 100%;
        }

        &::before {
          top: 5px;
        }

        &::after {
          top: -5px;
        }
      }
    }

    .mobile__menu {
      display: none;

      &:checked ~ nav {
        max-height: 100%;
      }

      & ~ .hamb .hamb__line {
        background: transparent;
      }

      & ~ .hamb .hamb__line::before {
        transform: rotate(-45deg);
        top: 0;
      }

      &:checked ~ .hamb .hamb__line::after {
        transform: rotate(45deg);
        top: 0;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    &::-webkit-scrollbar {
      display: none;
    }

    @media #{$lg} {
      transform: translateX(100%);
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
    }

    .dropdown-menu {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
      margin: 0 25px 0 0;
      white-space: nowrap;

      @media #{$min-lg} {
        & li:hover > ul {
          display: block;
        }
      }

      @media #{$lg} {
        margin: 100px auto 0;
        flex-direction: column;
      }

      &__link {
        display: inline-block;
        padding: 10px;
        width: 100%;
        color: $text__color--black;
        text-decoration: none;
        font-size: $font-size--base;
        font-weight: bold;
        text-transform: uppercase;

        @media #{$lg} {
          font-size: $font-size--small;
          color: $text__color--white;
          text-align: left;
        }

        &:hover {
          color: $link__color--hover;
        }
      }

      .caret-down svg {
        margin-left: 3px;
        width: 12px;
        height: 12px;
        display: inline-block;
        vertical-align: baseline;

        @media #{$lg} {
          width: 30px;
          height: 30px;
          float: right;
          padding: 0 10px;
          background-color: $caret-down__background;
        }
      }

      &__item {
        position: relative;

        @media #{$lg} {
          color: $text__color--white;
          position: static;
          text-align: center;
        }
      }

      &__submenu {
        display: none;
        z-index: 1;
        min-width: 250px;
        position: absolute;
        list-style: none;
        padding: 15px;
        background-color: white;
        border: 1px solid whitesmoke;

        ul {
          left: 100%;
          top: 0;
        }

        @media #{$lg} {
          background-color: $offcanvas__background--dark;
          border: none;
          color: $text__color--white;
          position: static;
          transform: none;
        }
      }

      &__content {
        @media #{lg} {
          left: 50%;
          transform: translate(-50%, 0);
        }
      }

      &__content-inner {
        min-width: min-content;
        white-space: nowrap;
      }
    }
  }

  /* classes for js */
  @media #{$lg} {
    /* canvas */
    .offcanvas {
      width: 100%;
      background-color: $offcanvas__background--dark;
      padding: 50px;
      transform: translateX(0);
      transition: transform 1s linear;
      overflow-y: scroll;
    }

    /* for btn mobile */
    .btn {
      display: none;
    }

    /* show-menu mobile */
    .show-menu {
      display: block;
    }

    /* class active */
    .active > ul {
      display: block;
    }
  }
}

/* class for body */
@media #{$lg} {
  .hidden {
    overflow: hidden;
  }
}
