.services {
  padding-bottom: 100px;
  text-align: center;
  letter-spacing: $letter-spacing;
  @media #{$sm} {
    margin-bottom: 100px;
    padding-bottom: 50px;
  }
  &__header {
    padding: $content__padding;
    h2 {
      color: $h2__color--dark;
      font-size: $h2__font-size;
      font-weight: $h2__font-weight;
      margin-bottom: $header__margin-bottom;
      @media #{$md} {
        font-size: $h2__font-size--mobile;
      }
    }
    p {
      color: $text__color--black;
      font-size: $font-size--medium;
      font-weight: $text__font-weight;
      margin: 0;
    }
  }
  &__content {
    border-right: 1px solid #d5d2d2;
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    @media #{$lg} {
      border: none;
    }
  }
  &__item {
    &:nth-last-child(1) .services__content {
      border-right: none;
    }
    &:hover .fa-solid:before {
      color: $caret-after--hover;
    }
    .fa-solid {
      font-size: 65px;
      color: $icons-color--red;
      margin-bottom: 25px;
    }
    .fa-solid:hover::before {
      color: $caret-after--hover;
    }
    h4 {
      color: $h4__color--dark;
      font-size: $h4__font-size;
      font-weight: $text__font-weight;
      &:hover {
        color: $h4__color-green--hover;
      }
    }
    p {
      color: $text__color--gray;
      font-size: $font-size--small;
      font-weight: $text__font-weight;
      margin: 0;
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $link__color--green;
      font-size: $links__font-size--light;
      font-weight: $text__font-weight-medium;
      &:hover {
        color: $link__color-red--hover;
      }
    }
    /*for reusable block setting ikon*/
    &:hover .ikon-num {
      color: $caret-after--hover;
    }

    .ikon-num {
      font-size: 65px;
      color: $icons-color--red;
      margin-bottom: 25px;
    }
    .ikon-num:hover {
      color: $caret-after--hover;
    }
    /*     */
}
}
.arrow--small:after {
  margin-left: 10px;
  content: "\f061";
  font-family: 'Font Awesome 6 Free';
}
