.topbar {
  padding: 10px 0;
  background-color: $topbar__background;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;

    @media #{$md} {
      justify-content: space-between;
      width: 100%;
    }
  }

  .phone {
    color: $text__color--white;
    font-size: $font-size;
    font-weight: $font-weight--base;
    letter-spacing: $letter-spacing;
    cursor: pointer;

    &:hover {
      color: $link__color--hover;
    }
  }

  .description {
    color: $text__color--white;
    font-size: $font-size;
    font-weight: $font-weight--base;
    letter-spacing: $letter-spacing;

    @media #{$md} {
      display: none;
    }
  }
}

.icon-box {
  display: flex;
  margin-left: 50px;

  @media #{$md} {
    margin-left: 0;
  }
}

.icon {
  display: inline-block;
  width: 19px;
  height: 21px;
  cursor: pointer;
  margin-left: 15px;
  color: $text__color--white;

  &:hover {
    color: $link__color--hover;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}
