.topbar {
  padding: 10px 0 10px 0;
  background-color: $topbar__background;
  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    @media #{$md} {
      justify-content: space-between;
      width: 100%;
    }
  }
  .phone {
     color: $text__color--white;
     font-size: $links__font-size--base;
     font-weight: $font-weight--base;
     letter-spacing: $letter-spacing;
    cursor: pointer;
    &:hover {
      color: $link__color--hover;
    }
   }
  .description {
    color: $text__color--white;
    font-size: $font-size;
    font-weight: $font-weight--base;
    letter-spacing: $letter-spacing;
    @media #{$md} {
    display: none;
  }
  }
}
.icon-box {
  margin-left: 50px;
  @media #{$md} {
    margin-left: 0;
  }
}
.fa-brands {
  filter: invert(1);
  cursor: pointer;
  margin-left: 15px;
  &:hover {
  color: $icons-invert--hover;
}
}




