//colors//
$color-default-white: #ffffff;
$color-custom-white: #efefef;
$color-default-black: #1e1e1e;
$color-custom-black: #191e2d;
$color-red: #f0083f;
$color-dark-green: #86a700;
$color-default-gray: #959595;
$color-light-gray:#7b7b7b;
$color-green: rgb(73, 185, 59);
//colors-text//
$color-font-white: #ffffff;
$color-font-gray: #acacac;
$color-font-black: #1e1e1e;
$color-font-green: #86a700;
//font-family//
$font-family-base: Montserrat,sans-serif;
//font-size-text//
$font-size-text-base: 1.1rem;
$font-size-text-small:1.142em;
$font-size-text-medium:1.142em;
$font-size-text-big:2.8em;
$font-size-text-huge: 3.3333em;
$font-size-text-px-small: 14px;
$font-size-text-px-medium: 20px;
$font-size-text-px-big: 20px;

//font-size header//
$font-size-h1: 90px;
$font-size-h2: 5.714em;
//font-weight//
$font-weight-base: 300;
$font-weight-text: 400;
$font-weight-h1: 600;
$font-weight-h2: 400;
//line-height//
$line-height-base: 1.75em;
$line-height-h1: 48px;
$line-height-h2: 1.2em;




/* Grid settings */
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1450px) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;

$xs: '(max-width: 375px)' !default;
$sm: '(max-width: #{map-get($grid-breakpoints , sm) - 1px})' !default;
$md: '(max-width: #{map-get($grid-breakpoints, md) - 1px})' !default;
$lg: '(max-width: #{map-get($grid-breakpoints, lg) - 1px})' !default;
$xl: '(max-width: #{map-get($grid-breakpoints, xl) - 1px})' !default;
$xxl: '(max-width: #{map-get($grid-breakpoints, xxl) - 1px})' !default;

$min-xs: '(min-width: 375px)';
$min-sm: '(min-width: #{map-get($grid-breakpoints, sm)})' !default;
$min-md: '(min-width: #{map-get($grid-breakpoints, md)})' !default;
$min-lg: '(min-width: #{map-get($grid-breakpoints, lg)})' !default;
$min-xl: '(min-width: #{map-get($grid-breakpoints, xl)})' !default;
$min-xxl: '(min-width: #{map-get($grid-breakpoints, xxl)})' !default;