.why-us {
  padding-bottom: $padding-bottom__section;

  &__item {
    &:hover .why-us__header {
      color: $h4__color-green--hover;
    }

    &:hover .why-us__link {
      color: $link__color-red--hover;
    }
  }

  &__content {
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  &__header {
    color: $h4__color--dark;
    font-size: $h4__font-size;
    font-weight: $text__font-weight;
  }

  &__description {
    color: $text__color--gray;
    font-size: $font-size--small;
    font-weight: $text__font-weight;
    margin: 0;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $link__color--green;
    font-size: $links__font-size--light;
    font-weight: $text__font-weight-medium;
  }
}
