*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	min-height: 320px;
}

::-webkit-scrollbar {
	display: none;
}

img,
picture {
	display: block;
	max-width: 100%;
}

a {
	line-height: 1;
	text-decoration: none;
}

[class^="icon-"],
[class*="icon-"] {
	width: max($sp-m, $sp-m-factorial-x);
	cursor: pointer;
}

.base-tel-input {
	$base-field__input-font-size: max($fs-xs, $fs-m-factorial);
	$base-field__input-font-weight: $fw-normal;
	$base-field__input-line-height: $lh-xxl;
	$base-field__input-font-color: $text--dark;
	$base-field__input-background-color: $background--primary;
	$base-field__input-border: $border-1px $border-color--grey;
	$base-field__input-border--focus: $border-1px $border-color--blue;
	$base-field__input-padding-x: max($sp-13, $sp-20-factorial-x);
	$base-field__input-padding-y: max($sp-13, $sp-20-factorial-y);
	$base-field__input-padding: $base-field__input-padding-y $base-field__input-padding-x;
	$base-field__input-search-box-padding: max($sp-xs, $sp-xs-factorial-y) max($sp-13, $sp-20-factorial-x);
	$base-field__placeholder-color: $my-gray600;
	$base-field__placeholder-style: $my-gray600;
	$base-field__input-background-color--error: rgba(133, 18, 18, 0.1);
	$base-field__input-border--error: $border-1px $border-color--danger;
	
	.custom-vti {
		border: none !important;
		border-bottom: none !important;
		
		&:focus-within {
			border: none !important;
			border-bottom: none !important;
			border-radius: unset;
			box-shadow: none !important;
		}
		
		.vti {
			
			$this: &;
			
			&__selection {
				font-size: $base-field__input-font-size;
				font-weight: $base-field__input-font-weight;
				line-height: $base-field__input-line-height;
			}
			
			&__input {
				width: 100%;
				font-size: $base-field__input-font-size;
				font-weight: $base-field__input-font-weight;
				line-height: $base-field__input-line-height;
				color: $base-field__input-font-color;
				padding: $base-field__input-padding;
				padding-left: 0;
				position: relative;
				background-color: $base-field__input-background-color;
			}
			
			&__dropdown {
				width: max(100px, 20%);
				align-items: center;
				background-color: $base-field__input-background-color;
			}
			
			&__country-code {
				font-size: $base-field__input-font-size;
				font-weight: $base-field__input-font-weight;
				line-height: $base-field__input-line-height;
				color: $base-field__input-font-color;
			}
			
			&__dropdown-list.below {
				top: 100%;
				width: 400%;
				max-height: 20vh;
			}
			
			&__search_box {
				padding: $base-field__input-search-box-padding;
				background-color: $base-field__input-background-color !important;
			}
			
			&__dropdown,
			&__input {
				border-bottom: $base-field__input-border !important;
			}
		}
	}
	
	&.error {
		.vti__dropdown,
		.vti__input {
			border-bottom: $base-field__input-border--error !important;
			background-color: $base-field__input-background-color--error !important;
		}
		
		.vti__search_box {
			background-color: $base-field__input-background-color !important;
		}
	}
	
	&:focus-within {
		.vti__dropdown,
		.vti__input {
			border-bottom: $base-field__input-border--focus !important;
		}
	}
}
