$icons-font: 'lukov-icon-font';
$icons-font-size: max($fs-32, $fs-32-factorial);

@font-face {
	font-family: 'lukov-icon-font';
	src:
		url('~/assets/icon-font/lukov-icon-font.ttf?wb76bz') format('truetype'),
		url('~/assets/icon-font/lukov-icon-font.woff?wb76bz') format('woff'),
		url('~/assets/icon-font/lukov-icon-font.svg?wb76bz#lukov-icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icons-font"]::before,
[class^="icons-font"]::after,
[class*="icons-font"]::before,
[class*="icons-font"]::after {
	font-weight: normal;
	font-family: $icons-font !important;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	font-size: $icons-font-size;
}

.icons-font {
	&--arrow::before {
		content: "\e900";
	}
	
	&--in::before {
		content: "\e901";
	}
	
	&--tg::before {
		content: "\e902";
	}
	
	&--wa::before {
		content: "\e903";
	}
}