$layout-width: 1440px;
$layout-height: 1024px;

$pixel-width: calc(100 / $layout-width * 1);
$pixel-height: calc(100 / $layout-height * 1);

$spacer-base: 32px;

$sp-xxs: 0.125 * $spacer-base; // 4px
$sp-xxs-factorial-x: #{calc($sp-xxs * $pixel-width)}vw;
$sp-xxs-factorial-y: #{calc($sp-xxs * $pixel-height)}vh;

$sp-xs: 0.25 * $spacer-base; // 8px
$sp-xs-factorial-x: #{calc($sp-xs * $pixel-width)}vw;
$sp-xs-factorial-y: #{calc($sp-xs * $pixel-height)}vh;

$sp-s: 0.5 * $spacer-base; // 16px
$sp-s-factorial-x: #{calc($sp-s * $pixel-width)}vw;
$sp-s-factorial-y: #{calc($sp-s * $pixel-height)}vh;

$sp-m: 0.75 * $spacer-base; // 24px
$sp-m-factorial-x: #{calc($sp-m * $pixel-width)}vw;
$sp-m-factorial-y: #{calc($sp-m * $pixel-height)}vh;

$sp-base: $spacer-base; // 32px
$sp-base-factorial-x: #{calc($sp-base * $pixel-width)}vw;
$sp-base-factorial-y: #{calc($sp-base * $pixel-height)}vh;

$sp-l: 1.5 * $spacer-base; // 48 px
$sp-l-factorial-x: #{calc($sp-l * $pixel-width)}vw;
$sp-l-factorial-y: #{calc($sp-l * $pixel-height)}vh;

$sp-xl: 2 * $spacer-base; // 64 px
$sp-xl-factorial-x: #{calc($sp-xl * $pixel-width)}vw;
$sp-xl-factorial-y: #{calc($sp-xl * $pixel-height)}vh;

$sp-xxl: 2.25 * $spacer-base; // 72 px
$sp-xxl-factorial-x: #{calc($sp-xxl * $pixel-width)}vw;
$sp-xxl-factorial-y: #{calc($sp-xxl * $pixel-height)}vh;

$sp-10: 10px;
$sp-10-factorial-x: #{calc($sp-10 * $pixel-width)}vw;
$sp-10-factorial-y: #{calc($sp-10 * $pixel-height)}vh;

$sp-15: 15px;
$sp-15-factorial-x: #{calc($sp-15 * $pixel-width)}vw;
$sp-15-factorial-y: #{calc($sp-15 * $pixel-height)}vh;

$sp-13: 13px;
$sp-13-factorial-x: #{calc($sp-13 * $pixel-width)}vw;
$sp-13-factorial-y: #{calc($sp-13 * $pixel-height)}vh;

$sp-20: 20px;
$sp-20-factorial-x: #{calc($sp-20 * $pixel-width)}vw;
$sp-20-factorial-y: #{calc($sp-20 * $pixel-height)}vh;

$sp-70: 70px;
$sp-98-factorial-x: #{calc($sp-70 * $pixel-width)}vw;
$sp-98-factorial-y: #{calc($sp-70 * $pixel-height)}vh;

$sp-98: 98px;
$sp-98-factorial-x: #{calc($sp-98 * $pixel-width)}vw;
$sp-98-factorial-y: #{calc($sp-98 * $pixel-height)}vh;

$sp-120: 120px;
$sp-120-factorial-x: #{calc($sp-120 * $pixel-width)}vw;
$sp-120-factorial-y: #{calc($sp-120 * $pixel-height)}vh;