$body-font-size: max($fs-xs, $fs-xs-factorial);
$h1-font-size: max($fs-big-xs, $fs-big-max-factorial);
$h2-font-size: max($fs-big-m, $fs-big-m-factorial);
$h3-font-size: max($fs-big-m, $fs-big-m-factorial);
$h4-font-size: max($fs-big-xxs, $fs-big-xxs-factorial);
$h5-font-size: max($fs-big-min, $fs-big-min-factorial);
$h6-font-size: max($fs-xxl, $fs-xxl-factorial);

$body-line-height: $lh-xl;
$h1-line-height: $lh-md;
$h2-line-height: $lh-xl;
$h3-line-height: $lh-xl;
$h4-line-height: $lh-xl;
$h5-line-height: $lh-md;
$h6-line-height: $lh-xl;

$body-font-weight: $fw-normal;
$h1-font-weight: $fw-bold;
$h2-font-weight: $fw-bold;
$h3-font-weight-min: $fw-bold;
$h3-font-weight-max: $fw-custom-550;
$h4-font-weight: $fw-custom-550;
$h5-font-weight: $fw-custom-550;
$h6-font-weight: $fw-custom-550;

$h1-margin-bottom: max($sp-s, $sp-m-factorial-y);
$h2-margin-bottom: max($sp-xs, $sp-xs-factorial-y);
$h3-margin-bottom: max($sp-xs, $sp-xs-factorial-y);
$h4-margin-bottom: max($sp-xxs, $sp-xxs-factorial-y);
$h5-margin-bottom: max($sp-xxs, $sp-xxs-factorial-y);

@font-face {
	font-family: helvetica, sans-serif;
	font-style: normal;
	font-display: auto;
	src: local('helveticaneuecyr-Roman'),
	url('/assets/font/HelveticaNeueCyr-Roman.ttf') format('ttf'),
	url('/assets/font/HelveticaNeueCyr-Roman.woff') format('woff')
}

body {
	font-family: helvetica, sans-serif;
	font-weight: $fw-normal;
	line-height: $body-line-height;
	font-size: $body-font-size;
}

h1, h2, h3, h4, h5, h6 {
	font-family: helvetica, sans-serif;
}

h1 {
	line-height: $h1-line-height;
	font-weight: $h1-font-weight;
	font-size: $h1-font-size;
	margin-bottom: $h1-margin-bottom;
}

h2 {
	line-height: $h2-line-height;
	font-weight: $h2-font-weight;
	font-size:$h2-font-size;
	margin-bottom: $h2-margin-bottom;
}

h3 {
	line-height: $h3-line-height;
	font-weight: $h3-font-weight-min;
	font-size: $h3-font-size;
	margin-bottom: $h3-margin-bottom;
}

h4 {
	line-height: $h4-line-height;
	font-weight: $h4-font-weight;
	font-size: $h4-font-size;
	margin-bottom: $h4-margin-bottom;
}

h5 {
	line-height: $h5-line-height;
	font-weight: $h5-font-weight;
	font-size: $h5-font-size;
	margin-bottom: $h5-margin-bottom;
}

h6 {
	line-height: $h6-line-height;
	font-weight: $h6-font-weight;
	font-size: $h6-font-size;
}